html,body{
  /*background-color: #ffa8ff;*/
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor:none;
  overflow:auto;
}


p{
 /* cursor : none;
  user-select: none;*/
  word-wrap: auto;
/*  letter-spacing: 1.5px;
  text-align: justify;
  text-justify: inter-word;*/
  /*float: right;*/

}
#tex:hover {
  color: red;

}

.item{
/*  position: fixed;
  bottom: 0px;*/
/*  vertical-align: text-bottom;
 float: bottom;*/

}

.stilo{
	/*padding-left: 2vw;*/
  /*display: grid | inline-grid;*/
}

.benso{
	width: 30vw;
  height: auto;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.benso:hover{
	box-shadow: 20px 20px 20px grey;
	width:50vw;
	/*padding: 20vw;*/

}

.bensoszel{
  width:30vw;
}

.bensoszel:hover{
  animation: bensoszel 3s;

}


  @keyframes bensoszel {
        /* You could think of as "step 1" */
        0% {
          transform: translate(-20%, -20%);
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(1.5);
         /*width:50vw;*/
        }
      }

.hossz{
	height:50vh;
	width:auto;

}

.hossz:hover{
	height:60vh;
	width:auto;
}

.cim{
	/*color: blue;*/
  /*text-shadow: 2px 2px orange;*/
  /*padding-right: 1vw;*/

	font-size: 14px;
}

.cim:hover{
  /*color: pink;*/
  /*text-shadow: 2px 2px red;*/
  font-size: 16px;
  letter-spacing: 5px;
}

.slakk{
	/*display: inline-grid;*/
  /*display: inline-flex;*/
 /*overflow-x: auto;*/
 /*display:block;*/

    /*margin:auto;*/
	padding-left: 2vw;


}


.vizsz{
  /*display: grid;*/
  display: block;
  /*overflow-y:hidden;*/

       
 -webkit-column-count: 2;
 -webkit-column-gap:   0;
 -moz-column-count:    2;
 -moz-column-gap:      0;
 column-count:         2;
 column-gap:           0;  

}

.head{
  padding-left: 2vw;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}


.tart {
  padding-left: 10vw;
  display: inline-grid;
  word-wrap: auto;

  /*height:60vh;*/
  /*width:auto;*/
  /*position: sticky;*/
  /*text-align:bottom;*/
  /*white-space: nowrap;*/
  /*overflow-y:hidden;*/

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

canvas{
	
    position: fixed;
    top: 0; 
    z-index: -2;
	/*z-index: -1;*/

}

img{
  z-index: 2;
}


@media only screen and (max-width: 600px) {
     .benso{
  		width:90vw;
  		/*height:auto;*/
      }
      .bensoszel{
      	width:90vw;
      }
      .hossz{
      	height:50vh;
      	width:auto;
      }
      .hossz:hover{
      	height:70vh;
      	width:auto;
      }
      .vizsz{
        /*display: grid;*/
        display: block;
        /*overflow-y:hidden;*/

             
       -webkit-column-count: 1;
       -webkit-column-gap:   0;
       -moz-column-count:    1;
       -moz-column-gap:      0;
       column-count:         1;
       column-gap:           0;  

      }
      p{
      /*overflow-wrap: anywhere;*/
      word-wrap: auto;
      /*font-size: 8px;*/


      }
      .tart {
      width: 80vw;
      padding-left: 1vw;
      display: inline-grid;
      /*word-wrap: break-word;*/
      word-wrap: auto;

      /*height:60vh;*/
      /*width:auto;*/
      /*position: sticky;*/
      /*text-align:bottom;*/
      /*white-space: nowrap;*/
      /*overflow-y:hidden;*/

      }

    }

